{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env":
  {
		"node": true,
		"es6": true,
		"browser": true
  },
  "rules":
  {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/prefer-default-export": "off",
    "global-require": 0
  }
}